html{
	font-size: 2vmin;
}
body{
	height: 100vh;
  background-color: lavender;
}
header{
  margin: auto;
  text-align: center;
  display: block;
}
.formControls{
text-align:center;
}
.phone {
  border-bottom: 1px solid black;
}
.pokeSearch {
  padding: .5%;
  border-bottom: 1px solid black;
  background-color: lavenderblush
}
#searchResults{
  text-align: center;
  height: 54vh;
}
.pokemon {
  background-color:whitesmoke;
  border: 1px solid black;
  margin: 5px;
  display: inline-block;
}
.pokemon .name {
  background-color: lightgrey;
  text-align: center;
}
.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modal-body .text {
  align-self: center;
}
.attack {
  margin-top: 2.5%;
  display: none;
}
.modal-body .shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
